$gray: rgb(140,140,140);

.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .controls {
        height: 50px;
    }

    .visualization {
        display: flex;
        flex-direction: row;
        height: 100%;

        &__container  {
            flex-basis: 70%;
        }

        &__list  {
            flex-basis: 30%;
            background: $gray;
            padding: 20px;
        }
    }

    .spacer {
        flex: 1 1 auto;
      }

    .vlist {
        &-item {
            display: flex;
            flex-basis: 100%;

            &__label {
                flex-grow: 1;
            }
        }
    }
}