<mat-toolbar>
  <mat-toolbar-row>
    <span>Document Visualizer</span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="main-content">
  <div class="controls">

  </div>

  <div class="visualization">
    <div class="visualization__features">

    </div>
    <div class="visualization__container">
      <ngx-graph [nodes]="nodes" [clusters]="clusters" layout="dagreCluster">
      </ngx-graph>

    </div>
    <div class="visualization__list">
      <mat-selection-list>
        <mat-list-option *ngFor="let node of clusteredNodes" [selected]="true">
          <mat-icon mat-list-icon>picture_as_pdf</mat-icon>
          <div class="vlist-item">
            <div class="vlist-item__label">
              {{node.label}}
            </div>
            <div>
              {{node.clusterName}}
            </div>

          </div>
        </mat-list-option>
      </mat-selection-list>
    </div>
  </div>
</div>